.buttonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 991.98px) {
    .buttonsContainer {
        flex-direction: column;
      }
    
      .delete,
      .edit {
        width: 80%; /* Adjust the width as needed for small screens */
      }
    
      .delete .btn-outline-danger,
      .edit .btn-outline-primary {
        border-radius: 2vw !important;
        width: 100%;
      }
  }
  
  /* For large screens (viewport width ≥ 992px) */
  @media (min-width: 992px) {
    .buttonsContainer {
        flex-direction: row;
      }
    
      .delete,
      .edit {
        width: 40%; /* Adjust the width as needed for large screens */
      }
    
      .delete .btn-outline-danger,
      .edit .btn-outline-primary {
        border-radius: 2vw !important;
        width: 100%;
      }
  }

