.delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete .btn-outline-danger {
    border-radius: 2vw !important;
}

.delete .btn-outline-danger:hover {
    background-color: #dc3545 !important;
    color: #fff !important;
    border-color: #dc3545 !important;
  }