.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete {
    width: 100%;
}

.delete .btn-outline-danger {
    border-radius: 2vw !important;
    width: 100%;
}

.delete .btn-outline-danger:hover {
    background-color: #dc3545 !important;
    color: #fff !important;
    border-color: #dc3545 !important;
}


.edit {
    width: 100%;
}


.edit .btn-outline-primary {
    border-radius: 2vw !important;
    width: 100%;
}

.edit .btn-outline-primary:hover {
    background-color: #0084ff !important;
    color: #fff !important;
    border-color: #0084ff !important;
}

.like {
    width: 100px;
    height: 30px;
}

.d-flex.align-items-center {
    width: 20px;
    height: 20px;
}