.about-down{
    background-color:#FCE38A;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
}   
.list-down{
    list-style-type: none;
}
h2{
    font-weight: bold;
    padding-bottom: 10px;
}

button{
    color:#FFFEF0 ;
    background-color: #383d46 ;
    padding: 2px, 2px, 2px, 2px;



}