  svg{
    background-color: #fffef0; 
    /* background-color: white; */

  }

  #ES {
    fill: #008000;
  }
  #ES:hover {
    fill: #008000;
  }
  #AR {
    fill: #008000;
  }
  #AR:hover {
    fill: #008000;
  }

  #TH {
    fill: #4A3476;
  }
  #TH:hover {
    fill: #805678;}
  #CL {
    fill: #800000;
  }
  #CL:hover {
    fill: #800000;
  }
  #FI {
    fill: #00F;
  }
  #FI:hover {
    fill: #000080;
  }
  #KR {
    fill: #00F;
  }
  #KR:hover {
    fill: #000080;
  }
  #CA {
    fill: #008000;
  }
  #CA:hover {
    fill: #008000;
  }
  #MN {
    fill: #F00;
  }
  #MN:hover {
    fill: #800000;
    
  }
  #MX {
    fill: #F00;
  }
  #MX:hover {
    fill: #800000;
    
  }

  #NP {
    fill: #F00;
  }
  #NP:hover {
    fill: #800000;
    
  }
  #NZ {
    fill: #F00;
  }
  #NZ:hover {
    fill: #800000;
    
  }
  #EG {
    fill: #008000;
  }
  #EG:hover {
    fill: #008000;
  }

  #PL {
    fill: #800000;
  }
  #PL:hover {
    fill: #800000;
  }

  #TZ {
    fill: #199900;
  }
  #TZ:hover {
    fill: #4A3400;
  }
  #VN {
    fill: #199900;
  }
  #VN:hover {
    fill: #4A3400;
  }
  #RU {
    fill: #199900;
  }
  #RU:hover {
    fill: #4A3400;
  }
  #ZA {
    fill: #199900;
  }
  #ZA:hover {
    fill: #4A3400;
  }
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html, body {
    height: 100%;
  }
  body {
  
    color: #64BF56;
  }
  
  .ag-canvas {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  
    position: relative;
    visibility: visible;
  
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .ag-canvas_svg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: 1rem;
  }
  .ag-canvas_svg path {
    fill: #383d46;
    fill-opacity: 1;
    stroke: #E6E377;
    stroke-opacity: 1;
    stroke-width: 0.5;
    transition: 0.5s;
  }
  
  @media screen and (max-width: 767px) {
    .ag-canvas {
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      height: auto;
      padding: 4rem 1rem 1rem;
    }
    .ag-canvas_svg {
      max-height: calc(100% - 6rem);
      margin-left: 0;
    }
  }
  